# Data Exploration

This notebook aims to explore BTCUSDT dataset

In [1]:
## Libraries
import sys
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
sys.path.append(os.path.abspath(os.path.join("../scripts"))) 

from log_helper import AppLog
app_logger = AppLog("../logs/eda.log").get_app_logger()

### Import the dataset

In [3]:
btcusddf = pd.read_csv('../data/BTCUSDT_2days_data.csv')

In [4]:
btcusddf.head()

,Date,Open,High,Low,Close,Volume,QuoteVolume
0,"9/11/2022, 12:00:00 AM",21647.21,21666.22,21637.01,21652.68,348.00521,1662854459999
1,"9/11/2022, 12:01:00 AM",21652.68,21660.58,21650.28,21655.31,132.51217,1662854519999
2,"9/11/2022, 12:02:00 AM",21655.31,21661.67,21644.68,21660.77,147.52758,1662854579999
3,"9/11/2022, 12:03:00 AM",21660.04,21679.95,21660.04,21661.41,194.46260,1662854639999
4,"9/11/2022, 12:04:00 AM",21661.41,21662.65,21647.18,21655.69,241.24041,1662854699999

### Global description

In [5]:
btcusddf.dtypes

Date            object
Open           float64
High           float64
Low            float64
Close          float64
Volume         float64
QuoteVolume      int64
dtype: object

In [6]:
btcusddf.Date = pd.to_datetime(btcusddf.Date)

In [7]:
df = btcusddf.copy()
df.set_index('Date', inplace=True)

In [8]:
df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['hour'] = df.index.hour
df['minute'] = df.index.minute
df.reset_index(inplace=True)

In [9]:
df.head()

,Date,Open,High,Low,Close,Volume,QuoteVolume,year,month,day,hour,minute
0,2022-09-11 00:00:00,21647.21,21666.22,21637.01,21652.68,348.00521,1662854459999,2022,9,11,0,0
1,2022-09-11 00:01:00,21652.68,21660.58,21650.28,21655.31,132.51217,1662854519999,2022,9,11,0,1
2,2022-09-11 00:02:00,21655.31,21661.67,21644.68,21660.77,147.52758,1662854579999,2022,9,11,0,2
3,2022-09-11 00:03:00,21660.04,21679.95,21660.04,21661.41,194.46260,1662854639999,2022,9,11,0,3
4,2022-09-11 00:04:00,21661.41,21662.65,21647.18,21655.69,241.24041,1662854699999,2022,9,11,0,4

In [10]:
cols = ['Open', 'High', 'Low', 'Close', 'Volume', 'QuoteVolume']
df[cols].describe()

,Open,High,Low,Close,Volume,QuoteVolume
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3.000000e+03
mean,21879.092347,21891.489020,21867.447657,21879.268773,235.084936,1.662944e+12
std,324.542962,326.792062,322.607994,324.577113,138.203408,5.197018e+07
min,21371.650000,21383.450000,21350.000000,21371.650000,28.268320,1.662854e+12
25%,21609.792500,21617.817500,21601.437500,21609.920000,150.949990,1.662899e+12
50%,21703.245000,21716.175000,21693.730000,21703.430000,201.939690,1.662944e+12
75%,22239.295000,22250.247500,22224.680000,22238.555000,279.471617,1.662989e+12
max,22456.820000,22488.000000,22446.250000,22456.820000,1790.177740,1.663034e+12

## Exploration